# Virtual Environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# ML / HuggingFace cache
.cache/
.huggingface/

# Temporary files
*.tmp
*.swp

# FastAPI / Uvicorn reload
*.reload